.vs/
SocialNetwork/bin/
SocialNetwork/obj/
SocialNetwork.TestBuild/obj/
Utilities/bin/
Utilities/obj/
node_modules/
SocialNetwork.UnitTests/obj/
SocialNetwork.UnitTests/bin/
SocialNetwork.Interfaces/obj/
SocialNetwork.Models/bin/
SocialNetwork.Models/obj/
SocialNetwork.Interfaces/bin/
SocialNetwork.DAL/obj/
SocialNetwork.DAL/bin/
SocialNetwork.TestingUtilities/bin/
SocialNetwork.TestingUtilities/obj/
SocialNetwork.Services/obj/
SocialNetwork.Services/bin/
SocialNetwork/Properties/
SocialNetwork.Interface/obj/
SocialNetwork.Interface/bin/
SocialNetwork.Web/bin/
SocialNetwork.Web/obj/
SocialNetwork.DevelopmentUtilities/obj/
SocialNetwork.DevelopmentUtilities/bin/
.vscode/
SocialNetwork.WebReact/wwwroot/
SocialNetwork.WebReact/obj/
SocialNetwork.WebReact/bin/
SocialNetwork.WebReact/npm-shrinkwrap.json
