.vs/
Utilities/bin/
Utilities/obj/
node_modules/
SocialNetwork/Properties/
.vscode/
SocialNetwork.Domain/obj/
SocialNetwork.Domain/bin/
SocialNetwork.WebApi/bin/
SocialNetwork.WebApi/obj/
log.txt
ApplicationKernel/obj/
ApplicationKernel.Infrastructure/obj/
ApplicationKernel.Infrastructure/bin/
ApplicationKernel.Domain/obj/
ApplicationKernel.Domain/bin/
ApplicationKernel.Tests/bin/
ApplicationKernel.Tests/obj/
ApplicationKernel.Testing/obj/
ApplicationKernel.Testing/bin/
SocialNetwork.Tests/bin/
SocialNetwork.Tests/obj/
Utilities.Tests/bin/
Utilities.Tests/obj/
SocialNetwork.Infrastructure/bin/
SocialNetwork.Infrastructure/obj/
SocialNetwork.DevelopmentUtilities/obj/
SocialNetwork.DevelopmentUtilities/bin/
/.idea/.idea.SocialNetwork/.idea
/.idea
