@model SocialNetwork.Web.ViewModels.LoginViewModel
@using SocialNetwork.Web.ViewModels

@{
    ViewData["Title"] = "Login";
    ViewData["ActivePage"] = Page.Account_Login;
}

<h2>Login</h2>

<style>
    #btn-login {
        float: left;
        margin-left: 14px;
    }
    #checkbox-remember-me {
        margin-right: 15px;
    }
</style>


<div class="col-md-offset-2 col-md-4">
    <form asp-action="Login">
        <div class="row">
            <div>
                <div class="form-group col-md-12">
                    <label for="input-username">Username</label>
                    <input name="username" class="form-control" id="input-username" type="text">
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                <div class="form-group col-md-12">
                    <label for="input-password">Password</label>
                    <input name="password" class="form-control" id="input-password" type="password">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="checkbox pull-right" id="checkbox-remember-me">
                <label>
                    <input type="checkbox" name="rememberMe" value="true">
                    Remember me
                </label>
            </div>
            <button type="submit" id="btn-login" class="btn btn btn-primary">
                Log In
            </button>
        </div>
    </form>
</div>