@model SocialNetwork.Web.ViewModels.RegisterViewModel
@using SocialNetwork.Web.ViewModels

<h2>Register</h2>

<style>
    #btn-submit {
        float: right;
        margin-right: 14px;
    }
</style>

<div class="col-md-offset-2 col-md-9">
    <form asp-action="Register">
        <div class="col-md-6">
            <div class="form-group col-md-12">
                <label for="input-username">Username</label>
                <input name="username" class="form-control" id="input-username" type="text">
            </div>
            <div class="form-group col-md-12">
                <label for="input-password">Password</label>
                <input name="password" class="form-control" id="input-password" type="password">
            </div>
            <div class="form-group col-md-12">
                <label for="input-password-repeat">Repeat Password</label>
                <input name="password-repeat" class="form-control" id="input-password-repeat" value="" type="password">
            </div>
            <div class="form-group" id="btn-submit">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>
    </form>
</div>