
@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>

<form asp-action="Register">

    <label for="input-email">Email</label>
    <input type="text" name="email" id="input-email" />
    <br />

    <label for="input-username">Username</label>
    <input type="text" name="username" id="input-username" />
    <br />

    <label for="input-password">Password</label>
    <input type="text" name="password" id="input-password" />
    <br />
    
    <input type="submit" value="Submit"/>

</form>